.about {
    background-image: url("about.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    padding: 8rem 0;
}

h2 {
    margin: auto;
    background-color: #CAB899DF;
    text-align: center;
    width: fit-content;
}

.history > :not(h3) {
    background-color: bisque;
    border-radius: 1rem;
    padding: 1rem;
    width: min(128ch, 80vw);
}

.container {
    gap: 4rem;
}

.team-member {
    background-color: bisque;
    border-radius: 2rem;
    padding: 2rem;
}

.team-member > * {
    max-width: 10vw;
    text-align: center;
}
