.article {
    width: min(100ch, 80vw);
    height: 16ch;
    display: grid;
    background-color: peachpuff;
    border-radius: 0.5rem;
}

.article * {
    font-family: "Helvetica", serif;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
}