a {
    display: block;
    text-decoration: none;
    color: black;
}

.forum {
    width: min(100ch, 80vw);
    height: 16ch;
    display: grid;
    background-color: #CAB899;
    padding: 1rem;
    border-radius: 0.5rem;
}

.forum * {
    font-family: "Comic Sans MS", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
}

.upper-forum {
    display: flex;
    justify-content: space-between;
}

.score {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
